*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi', Condensed;
}
.container {
    background-color: gray;
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
div{border-radius: 15px;}
.right{
    height: 820px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    background: white;
    padding: 40px;
}
.left{
    height: auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.long {
    height: 400px;
    width: 650px;
    min-width: 300px;
    margin: 5px;
    padding: 35px 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.short{
    height: 400px;
    width: 300px;
    margin: 5px;
    padding: 35px 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;   
}
.profile{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.text {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: auto;
    margin-left: 15px;
}
.profile p{color: white;}
.profile img{
    border: 2px solid hsl(264, 82%, 80%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.big_text{font-size: clamp(12px, 28px, 32px);}

@media (max-width : 900px){
    .long, .short{width: 100%; margin: 5%;}
    .long{height: 600px;}
}